.backgroundIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 906px;
  object-fit: cover;
}
.backgroudSmall {
  position: absolute;
  top: 109px;
  left: 179px;
  background-color: #d3c3af;
  width: 921px;
  height: 737px;
}
.username1 {
  margin: 0;
}
.username {
  position: absolute;
  top: 549px;
  left: 436px;
  line-height: 100%;
  display: inline-block;
  width: 127px;
  height: 45px;
}
.login1,
.loginChild,
.password,
.register,
.username2 {
  position: absolute;
  top: 133px;
  left: 468px;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 363px;
  height: 363px;
}
.login1,
.password,
.register,
.username2 {
  top: 526px;
  left: 407px;
  border-radius: 50px;
  width: 485px;
  height: 76px;
}
.login1,
.password,
.register {
  top: 632px;
  left: 405px;
  width: 487px;
  height: 74px;
}
.login1,
.register {
  top: 736px;
  left: 468px;
  width: 137px;
  height: 45px;
  cursor: pointer;
}
.register {
  left: 694px;
}
.user1Icon {
  position: absolute;
  top: 147px;
  left: 482px;
  width: 335px;
  height: 335px;
  object-fit: cover;
}
.login2,
.password1,
.register1,
.username3 {
  position: absolute;
  top: 0;
  left: -1px;
  line-height: 100%;
  display: inline-block;
  width: 127px;
  height: 45px;
}
.login2,
.password1,
.register1 {
  top: 107px;
  left: 0;
  width: 126px;
  height: 43px;
}
.login2,
.register1 {
  top: 195px;
  left: 73px;
  width: 79px;
  height: 32px;
}
.register1 {
  top: 194px;
  left: 282px;
  width: 144px;
  height: 33px;
}
.text {
  position: absolute;
  top: 549px;
  left: 436px;
  width: 146px;
  height: 226px;
  font-size: 29px;
  font-family: "Ropa Sans";
}
.login {
  position: relative;
  background-color: #1e1e1e;
  width: 100%;
  height: 906px;
  text-align: left;
  font-size: 28px;
  color: #000;
  font-family: Sarabun;
}
