.leaflet-container {
    height: 100vh;
  
  }

.mapja{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: -1;
}

/* .mapcon{
  position: relative;
} */

.navbarja{
  /* position: absolute; */
  left: 0;
  z-index: 10;
}

.containermap{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: -1;
}
.review,.navbar{
  /* position: absolute; */
  left: 0;
  z-index: 10;
}
