.card{
  background-color: #E6E6E6;
  width: 300px;
  
  border-radius: 20px;
  padding: 10px;
}
.restroom-name{
  font-size: 30px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 0;
}
.address{
  font-size: 20px;
  margin-top: 5px ;
  margin-left: 7px;
  margin-bottom: 0;
  max-width: 100%;
  word-wrap: break-word;

}
.container-point{
  display: flex;
  align-items: center;
  /* justify-content: space-between;
  padding: 0 1rem; */


}
.point{
  font-size: 15px;
  margin: 0;
  margin-left: 7px;
  margin-right: 5px;
  
}
.comment{
  margin: 0;
  margin-left: 3px;
  margin-top: 3px;
}

.pic{
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  border-radius: 5px;
}
.container-button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}
.direction-button{
  margin-right: 30px;
  background-color: #E8C69E;
  font-size:1.2vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border: 0;
  border-radius: 20%;
}
.review-button{
  background-color: #E8C69E;
  font-size: 1.2vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border: 0;
  border-radius: 20%;
}


*{
  font-family: Ropa Sans;
  color: black;
}