.menuChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #312f2e;
  /* width: 356px; */
  /* height: 851px; */
  width: 38vh;
  height: 100vh;
}
.rover {
  color: #e6e6e6;
}
.restroomroverTxt {
  line-break: anywhere;
  width: 100%;
}
.restroomrover {
  position: absolute;
  top: 15.32px;
  left: 0;
  display: flex;
  align-items: center;
  width: 191.69px;
  height: 36.36px;
}
.logoChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #e8c69e;
  width: 65px;
  height: 65px;
}
.r {
  top: 14.32px;
  left: 14.32px;
  display: flex;
  align-items: center;
  width: 22.03px;
  height: 45.17px;
}
.r,
.r1,
.rParent {
  position: absolute;
}
.r1 {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 22.03px;
  height: 45.17px;
}
.rParent {
  top: 2.2px;
  left: 14.32px;
  width: 36.36px;
  height: 59.49px;
}
.logo1 {
  top: 0;
  left: 191.51px;
  width: 65px;
  height: 65px;
  color: #fff;
  font-family: "M PLUS 1";
}
.backIcon,
.logo,
.logo1 {
  position: absolute;
}
.logo {
  top: 26px;
  left: 19px;
  width: 256.51px;
  height: 65px;
  font-size: 28px;
  color: #e8c69e;
  font-family: Macondo;
}
.backIcon {
  height: 2.87%;
  width: 6.59%;
  top: 5.08%;
  right: 23.86%;
  bottom: 92.05%;
  left: 69.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.profileChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #e6e6e6;
  width: 77px;
  height: 77px;
}
.personIcon {
  position: absolute;
  top: 8px;
  left: 7px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.profile,
.user {
  position: absolute;
  top: 24px;
  left: 98px;
}
.profile {
  top: 627px;
  left: 30px;
  width: 148px;
  height: 77px;
  color: #dfd3d3;
}
.loginChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 24px;
  background-color: #312f2e;
  border: 2px solid #d2caca;
  box-sizing: border-box;
  width: 200px;
  height: 54px;
}
.login1 {
  position: absolute;
  top: 14px;
  left: 99.63px;
  display: flex;
  align-items: center;
  width: 82.47px;
  height: 25.1px;
}
.vectorIcon {
  position: absolute;
  height: 59.26%;
  width: 18%;
  top: 20.37%;
  right: 65%;
  bottom: 20.37%;
  left: 17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login {
  position: absolute;
  top: 746px;
  left: 68px;
  width: 200px;
  height: 54px;
  cursor: pointer;
  font-size: 20px;
  color: #dfd3d3;
}
.groupChild,
.menuItem {
  position: absolute;
  top: 117.5px;
  left: 0;
  width: 356px;
  height: 2px;
}
.groupChild {
  top: 0;
  border-radius: 50%;
  background-color: #978f8a;
  width: 49px;
  height: 50.09px;
}
.toiletBowlIcon {
  position: absolute;
  top: 4.66px;
  left: 5.7px;
  width: 38.74px;
  height: 39.61px;
  object-fit: cover;
}
.ellipseParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 50.09px;
}
.pin,
.pinRestroom {
  position: absolute;
  top: 9px;
  left: 75px;
}
.pin {
  top: 160px;
  left: 29px;
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
  width: 224px;
  height: 50.09px;
  cursor: pointer;
}
.toiletBowl {
  position: absolute;
  top: 4.66px;
  left: 5.7px;
  width: 38.74px;
  height: 39.61px;
}
.verifyAccount {
  position: absolute;
  top: 9px;
  left: 79px;
}
.groupParent,
.vectorIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 241px;
  height: 50.09px;
}
.vectorIcon1 {
  height: 65.88%;
  width: 11.2%;
  top: 17.97%;
  right: 84.23%;
  bottom: 16.15%;
  left: 4.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.veri {
  position: absolute;
  top: 252px;
  left: 29px;
  width: 241px;
  height: 50.09px;
  cursor: pointer;
}
.contractSupport {
  position: absolute;
  top: 9px;
  left: 79px;
  /* -webkit-text-stroke: 1px #000; */
}
.contractInner,
.vectorIcon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 267px;
  height: 50.09px;
}
.vectorIcon2 {
  height: 65.88%;
  width: 10.49%;
  top: 21.96%;
  right: 85.77%;
  bottom: 12.16%;
  left: 3.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.contract,
.menuInner {
  position: absolute;
  top: 344px;
  left: 29px;
  width: 267px;
  height: 50.09px;
}
.menuInner {
  top: 213px;
  left: 177px;
  width: 357px;
  height: 1079px;
  overflow-y: auto;
}
.menu {
  position: absolute;
  /* width: 440px; */
  /* height: 906px; */
  height: 100vh;
  overflow: hidden;
  /* max-width: 100%;
  max-height: 100%; */
  text-align: left;
  font-size: 25px;
  color: #fff;
  font-family: Leelawadee;
  z-index: 1;
  left: 0;
  top: 0;
  transition: all 0.5s;

}

.open{
  width: 440px;
}
.close{
  width: 0px;
}