.background {
    width: 25vw;
    height: 100vh;
    background-color: #312F2E;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    transition: all 0.5s;
}
.open{
    width: 460px;
}
.close{
    width: 0px;
}
  
.container-top {
    display: flex;

}

.logo {
    margin-top: 1vw;
    width: 16vw;
    margin-left: 4%;
}

.back {
    margin-top: 2vw;
    margin-left: 17%;
    width: 3vw;
    height: 3vw;
    
}

.line {
    border: 1px solid #474545;
    /* Adjust the color and border properties as needed */
    margin: 10px;
    /* Adjust the margin as needed */
}
.line2{
    border: 1px solid #474545;
    /* Adjust the color and border properties as needed */
    margin: 10px;
    margin-top: 32vh;

}

.menu{
    /* background-color: blue; */
    width: 27vw;
    /* height: 20vh; */
    z-index: -1;
    
}
.submenu{
    display: flex;
    align-items: center;
    margin-top: 3%;
    text-decoration: none;
    
}
.s-pin{
    width: 4.5vw;
    margin-left: 9.6%;
}
.t-pin{
    font-size: 1.75vw;
    margin-left: 2vw;
    text-decoration: none;
}
.s-con{
    width: 4vw;
    margin-left: 10.2%;
}
.t-con{
    font-size: 1.75vw;
    margin-left: 2.25vw;
}
.V-acc{
    display: flex;
    /* margin-top: 115%; */
    align-items: center;
    margin-top: 0;
    text-decoration: none;
}
.s-ver{
    width: 3vw;
    /* margin-left: 15%; */
}
.t-ver{
    font-size: 1vw;
    /*   */
}
.name{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* margin-top: 2%; */
    /* position: absolute; */
    /* left: 0;
    bottom: 3%; */
    /* margin-top: 1%; */
}
.contain-name{
    margin-left: 2%;
}
.s-name{
    width: 7vw;
    margin-left: 8%;
    margin-top: 7%;
}
.t-name{
    font-size: 2vw;
    margin-left: 8%;
    margin-bottom: 0;
    
}
.s-verr{
    width: 4vw;
    margin-left: 6%;
    margin-top: 3.2vh;
}
.login{
    display: flex;
    align-items: center;
    /* border: rgb(233, 0, 124); */
    /* background-color: aqua; */
    margin-left: 35%;
    margin-top: 1vw;
    width: 37%;
    /* background-color: rgb(11, 136, 244); */
    border-radius: 24px;
    background-color: #312f2e;
    border: 2px solid #d2caca;
    box-sizing: border-box;
    text-decoration: none;
    
    /* position: absolute;
    left: 0;
    bottom: 3%;  */
    
}
.pic-login{
    margin-left: 7%;
}
.t-login{
    font-size: 1.5vw;
    margin-left: 20%;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-right: 10%;
    
    
}
*{
    font-family: Ropa Sans;
    color: aliceblue;
}