.block{
  position: fixed;
  width: 30vw;
  height: 100vh;
  margin-right: 0;
  padding-right: 0;
  padding-bottom: 0;
  background-color: #E6E6E6 ;
  overflow: scroll;
  left: 0;
  bottom: 0;
  z-index: 99;
  /* display: flex;
  
  
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  
}
.top-header{
  margin-top: 0;
  top: 0;
  left: 0;
  background-color: #E8C69E;
  height: 10%;
  width: 30vw;
  z-index: 10;
  display: flex;
  align-items: center;
}
.logo{
  width: 15vw;;
  /* height: 20%; */
  top: 7px;
  left: 5px;
}
.pic{
  width: 25vw;
  border-radius: 10px;
  display: block;
  margin: 110px auto 0;
  margin-top: 20px;
}
.name{
  margin-top: 2vh;
  margin-left: 6%;
  font-size: 3vw;
  margin-bottom: 0;
}
.address{
  font-size: 1.5vw;
  margin-left: 7%;
  word-wrap: break-word;
}
.container-score{
  display: flex;
  margin: 110px auto 0;
  margin-top: 0;
  align-items: center;
  justify-content: center;


  
}
.star{
  /* margin-left: 1vw; */
  margin-right: 0;
}
.score{
  font-size: 2.75vw;
  
  margin-left: 50px;
}
.line {
  border: 1px solid #000; /* Adjust the color and border properties as needed */
  margin: 10px ; /* Adjust the margin as needed */
}
.button-review{
  display: block;
  margin: 110px auto 0;
  width: 50%;
  margin-top: 0;
  font-size: 2vw;
  background-color: grey;
  align-items: center;
  border: 0;
  border-radius: 10px;

}
.comment{
  display: block;
  margin: 110px auto 0;
}
.WReview{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 44%;
  top: 26%;
}
*{
  font-family: Ropa Sans;
  color: #000;
}