.background{
  width: 40vw;
  height: 53vh;
  background-color: #D9D9D9;
  border-radius: 10%;
  border-top: 0 ;
  overflow: hidden;
}
.getback{
  position: relative;
  font-size: 2.5vw;
  /* margin-left: 4%; */
  top: 50%;
  /* margin-top: 5%; */
  padding: 0;
  left: 2%;
  background-color: #D9D9D9;
  border: 0;
  
}
.getback:active{
  background-color: gray;
  color: white;
}


.container-info{
  display: flex;
  margin-left: 5%;
  
}
.container-name{
  width: 70%;
  
}
.pic-pro{
  width: 5vw;
  margin-top: 5%;
  border-radius: 100%;
}
.name{
  margin-top: 10%;
  margin-bottom: 0;
  margin-left: 5%;
  font-size: 2vw;
  width: 50%;
}
.class{
  margin-top: 2%;
  margin-left: 5%;
}
.star{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #D9D9D9;

}
.input-details{
  width: 85%;
  height: 30%;
  word-wrap: break-word;
  font-size: 1.45vw;
  padding-left: 2.5%;
  padding-top: 1.5%;
  padding-bottom: 10%;
  background-color: #D9D9D9;
  
}
.input-photo{
  margin-left: 20%;
}
.container-button{
  margin-left: 70%;
  margin-top: 1vh;
}
.b-cancel{
  font-size: 17px;
  border-radius: 10px;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #D9D9D9;
}
.b-submit{
  font-size: 17px;
  border-radius: 10px;
  margin-left: 12%;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #E8C69E;
  
}
input[type="file"]{
  display: none;
  
}
label{
  color: white;
  height: 5vh;
  width: 8vw;
  border-radius: 24px;
  border: 2px solid #d2caca;
  background-color: grey;
  /* position: absolute; */
  /* margin: auto; */
  margin-left: 1vw;
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
*{
  font-family: Ropa Sans;
  color: black;
}